<h1>Edit book</h1>
<form method="POST" action="/update">
    ID <input type="text" name="id" value="{{book.id}}"/>
    <br>
    book Prise <input type="text" name="Prise" value="{{book.prise}}"/>
    <br>
    book Title <input type="text" name="Title" value="{{book.title}}"/>
    <br>
    book Date <input type="text" name="Date" value="{{book.date}}"/>
    <br>
    book GenreID <input type="text" name="GenreID" value="{{book.genreID}}"/>
    <br>
    book PublisherID <input type="text" name="PublisherID" value="{{book.publisherID}}"/>
    <br>
    <input type="submit">
</form>