<h1>Edit author</h1>
<form method="POST" action="/update">
    ID <input type="text" name="id" value="{{author.id}}"/>
    <br>
    author First Name <input type="text" name="FirstName" value="{{author.firstname}}"/>
    <br>
    author Last Name <input type="text" name="LastName" value="{{author.lastname}}"/>
    <br>
    <br>
    author Address <input type="text" name="Address" value="{{author.address}}"/>
    <br>
    <br>
    author Phone <input type="text" name="Phone" value="{{author.phone}}"/>
    <br>
    <input type="submit">
</form>